@model DAL.Entities.SchoolStaffPhone

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>SchoolStaffPhone</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Phone)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Phone)
        </dd>
        <dd style="visibility: hidden">
            @Html.DisplayFor(model => model.SchoolStaffId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index" asp-route-idSchoolStaffInd=@ViewBag.idSchoolStaff>Back to List</a>
</div>
